/*Boddy Content*/
body {
    padding-top: 70px;
    background-image: url("../images/background/10.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

a {
    color: #555;
}

a:hover,
a:focus {
    color: #333;
}

/* well */
.well {
    background-color: #D3DEE8;
    border-color: #333;
}

/* jumbotron */
.jumbotron {
    background-color: #D3DEE8;
    border-color: #777;
}
/* breadcrumb */
.breadcrumb {
    background-color: #E5ECF7;
    border-color: #555;
}

/* panel */
.panel-default {
    border-color: #777;
    background-color: #F5F4F9;

}

.panel-default > .panel-heading {
    background-color: #D3DEE8;
    border-color: #777;
    padding: 20px;
}

.panel-footer {
    padding: 05px 300px;
    background-color: #D0DCE8;
    border-top: 1px solid #777;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* nav-bar */
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #E5ECF7;
}

.navbar-nav {
    padding-left: 146px;
}

.navbar-default {
    background-color: #D3DEE8;
    border-color: #333;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #E5ECF7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #E5ECF7;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #D3DEE8;
    border-color: #333;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #555;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E5ECF7;
}

.navbar-default .navbar-toggle {
    border-color: #555;
}

.col-sm-offset-1 {
    margin-left: 3.333333333333332%;
}

/* dropdown */
.dropdown-menu {
    background-color: #E5ECF7;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #555;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #555;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    background-color: #D3DEE8;
}

/* pagination */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #C1D0DD;
    color: #333;
    border-color: #555;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    background-color: #F5F4F9;
    border-color: #555;
}

.pagination > li > a, .pagination > li > span {
    border: 1px solid #555;
    color:#555;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    z-index: 3;
    color: #333;
    background-color: #CDE0E7;
    border-color: #333;
}

/* search */
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #B5C5D4;
    left: initial;
    font-size: 14px;
}


/* table */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #C1D0DD;
  border-top: 1px solid #C1D0DD;
}

.table-bordered {
  border: 1px solid #C1D0DD;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #EEF1F7;
}
*
.table-hover > tbody > tr:hover {
  background-color: #fff;
}

tfoot > tr > td {
 background-color: #E5ECF7;
 border: #333;

 }

.table > thead > tr > th {
  vertical-align: bottom;
  background-color: #E5ECF7;
}

/* modal-content */
.modal-content {
  background-color: #F5F4F9;
}
